# Ignorar la base de datos SQLite
db.sqlite3

# Ignorar el directorio de migraciones de GastosComunes
GastosComunes/migrations/

# Ignorar el directorio de __pycache__ de GastosComunes
GastosComunes/__pycache__/

ic36/__pycache__/